* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(250, 235, 215, 0.604);
}

h1 {
    text-align: left;
    font-size: 60px;
    margin: 20px auto 20px 20px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: end;
    border: solid 1px black;
    height: 280px;
    width: 280px;
    /* margin-top: -1px;
    margin-left: -1px; */
    margin: 10px;
    padding: 5px 10px;
    /* border-radius: 10px; */
    box-shadow: -10px -10px black;

}

.container div {
    align-items: end;
}

.newsTitle {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
}