* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: left;
    font-size: 60px;
    margin: 20px auto 20px 20px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    border: solid 1px black;
    height: 300px;
    width: 300px;
    margin-top: -1px;
    margin-left: -1px;
    padding: 5px 10px;
}



.container div {
    align-items: end;
}

.newsTitle {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}

.newsUrl,
.newsDate {
    font-size: 10px;
}






/* CSS */
.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    border: solid 1px black;
    height: 300px;
    width: 300px;
    margin-top: -1px;
    margin-left: -1px;
    padding: 5px 10px;





    background-color: #fff;
    border: 1px solid #3a3a3a;


    color: #000000;
    cursor: pointer;




    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.container:hover {
    background-color: #000000;
    color: #fff;
}